/* body {
  background: transparent
  font-family: "Segoe UI", Arial, sans-serif;
} */

.baku-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 16px;
}



.baku-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
}

.baku-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 1rem;
    color: #222;
}

.form-group input {
    padding: 10px;
    border: 2px solid #cbe7f6;
    border-radius: 8px;
    font-size: 1rem;
    background: #fff;
    outline: none;
    transition: border 0.2s;
}

.form-group select {
    padding: 10px;
    border: 2px solid #cbe7f6;
    border-radius: 8px;
    font-size: 1rem;
    background: #fff;
    outline: none;
    transition: border 0.2s;
    width: 100%;
}

.form-group select:focus {
    border-color: #80d0c7;
    padding: 10px;
    border: 2px solid #cbe7f6;
    border-radius: 8px;
    font-size: 1rem;
    background: #fff;
    outline: none;
    transition: border 0.2s;
}

.form-group input:focus {
    border-color: #80d0c7;
}

.save-btn {
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 40px;
    background: #b6ffb6;
    color: #222;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    transition: background 0.2s;
}

.save-btn:hover {
    background: #aef98b;
}

@media (max-width: 600px) {
    .input-baku-container {
        padding: 10px 5px;
    }
    .form-row {
        flex-direction: column;
        gap: 10px;
    }
}